git+https://github.com/rapptz/discord.py
jishaku
datetime
python-dotenv
motor
topggpy
validators
aiohttp
chat_exporter
psutil
fuzzywuzzy
fastapi
uvicorn
memory_profiler 
sentry-sdk>=2.44.0
aioboto3
pillow
ffmpeg-python
scipy
matplotlib
numpy
python-Levenshtein